
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>AMapLocationKit需要定位权限才可以使用</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>AMapLocationKit需要定位权限才可以使用</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AMapLocationKit需要定位权限才可以使用</string>
</dict>
</plist>
